button, input[type="submit"], input[type="reset"], input {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	/* cursor: pointer; */
	outline: inherit;
}

.main{
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(180deg, #D29FE3 0%, #5775C2 100%);

  font-family: Inter, sans-serif;
}

.button{
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-success{
  border-radius: 20px;
  background: #7EBC68;

  color: #FFF;
}

.button-success:hover{
  background-color: #7EBC68;
  -webkit-box-shadow: inset 1px 1px 5px #ddf7d4a5;
  -moz-box-shadow:    inset 1px 1px 5px #ddf7d4a5;
  box-shadow:         inset 1px 1px 5px #ddf7d4a5;
  /* color: #cacaca; */
  transition: 0.7;
}

.button-success:active{
  background-color: #88b15a;


  -webkit-box-shadow: inset 1px 1px 5px #33333359;
  -moz-box-shadow:    inset 1px 1px 5px #33333359;
  box-shadow:         inset 1px 1px 5px #33333359;
  transition: 0.7;
}